<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>AVActoreList</servlet-name>
		<servlet-class>hirokim.contents.api.AVActoreListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AVActoreList</servlet-name>
		<url-pattern>/av_actore_list</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PerformerList</servlet-name>
		<servlet-class>hirokim.contents.api.PerformerListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PerformerList</servlet-name>
		<url-pattern>/performer_list</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TalentList</servlet-name>
		<servlet-class>hirokim.contents.api.TalentListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TalentList</servlet-name>
		<url-pattern>/talent_list</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MusicianList</servlet-name>
		<servlet-class>hirokim.contents.api.MusicianListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MusicianList</servlet-name>
		<url-pattern>/musician_list</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>